* {
	box-sizing: border-box;
	margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background: hsla(313, 96%, 53%, 1);
	background: linear-gradient(45deg, hsla(313, 96%, 53%, 1) 0%, hsla(0, 5%, 28%, 1) 0%, hsla(193, 73%, 53%, 1) 100%);
	font-family: 'Rubik', sans-serif;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.header-title {
	font-size: 3.2rem;
}

main {
	text-align: center;
	margin-top: 4%;
}

.game-info {
	display: flex;
	font-size: 0.9rem;
}

.game-info h2 {
	margin-right: 1vw;
}

.startGame-btn {
	position: absolute;
	bottom: 50%;
	left: 50%;
	padding: 10px 50px;
	font-size: 1.2rem;
	font-weight: bold;
	background: none;
	transform: translate(-50%, -50%);
}

.game-board {
	display: grid;
	justify-content: center;
	margin-top: 1%;
}

.display-none {
	display: none
}


/******** GRID GAME STYLES ********/

.grid-tile {
	width: 80px;
	height: 80px;
	border: 2px solid black;
	cursor: pointer;
}

.active,
.user-select {
	background: blue;
}

.wrong-selection {
	background: red;
}

.game-over {
	font-size: 1.6rem;
	margin: 5vh 0;
	visibility: hidden;
}

.game-over button {
	margin-top: 1vh;
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	background: none;
	cursor: pointer;
}

.victory {
	font-size: 3rem;
	text-align: center;
}

/********* TIC TAK TOE STYLES *********/

.ttt-tiles {
	border: 1px solid black;
	min-width: 150px;
	min-height: 150px
}